---
title: Minesweeper
description: Resurrecting my ancient recreation of Microsoft Minesweeper.
additionalcss:
  - "static/css/minesweeper.css"
layout: layouts/post
---

{% set js %} {% include "static/js/jquery-3.2.1.js" %} {% endset %}
<script>{{ js | jsmin | safe }}</script>

{% set js %} {% include "static/js/minesweeper.js" %} {% endset %}
<script>{{ js | jsmin | safe }}</script>

<script>
$(document).ready(function(){
    $("*").contextmenu(function(){
    return false;
    });
    loadNewGame();
});
</script>

<form id="form" onchange=handleParamChange()>
  <p> Rows:
  <input class="params" type="range" id="rows" name="rows" min="2" max="20" value="9" step="1"> </p>
  <p> Columns:
  <input class="params" type="range" id="cols" name="cols" min="2" max="20" value="9" step="1"> </p>
  <p> Mines:
  <input class="params" type="range" id="mines" name="mines" min="1" max="399" value="10" step="1"> </p>
</form>

<p>Timer:</p>
<p id="crudeClock">0</p>
<p>Number of mines:</p>
<p id="crudeCountdown">0</p>

<div id="game">
  <div id="scorepanel" draggable="false">
    <div id="countdown">
      <div id="countdown_hundreds"></div>
      <div id="countdown_tens"></div>
      <div id="countdown_ones"></div>
    </div>
    <div id="smiley" class="square unrevealed"></div>
    <div id="timer">
      <div id="timer_hundreds" class="timer zero"></div>
      <div id="timer_tens" class="timer zero"></div>
      <div id="timer_ones" class="timer zero"></div>
    </div>
  </div>
  <table id="minesweeper" draggable="false">
  <tr> <td class="board square unrevealed two" id="sq-0"/><td class="board square unrevealed mine" id="sq-1"/><td class="board square unrevealed two" id="sq-2"/><td class="board square unrevealed" id="sq-3"/><td class="board square unrevealed" id="sq-4"/><td class="board square unrevealed" id="sq-5"/><td class="board square unrevealed one" id="sq-6"/><td class="board square unrevealed mine" id="sq-7"/><td class="board square unrevealed one" id="sq-8"/></tr>
  <tr> <td class="board square unrevealed two" id="sq-9"/><td class="board square unrevealed mine" id="sq-10"/><td class="board square unrevealed two" id="sq-11"/><td class="board square unrevealed" id="sq-12"/><td class="board square unrevealed" id="sq-13"/><td class="board square unrevealed" id="sq-14"/><td class="board square unrevealed two" id="sq-15"/><td class="board square unrevealed two" id="sq-16"/><td class="board square unrevealed two" id="sq-17"/></tr>
  <tr> <td class="board square unrevealed one" id="sq-18"/><td class="board square unrevealed one" id="sq-19"/><td class="board square unrevealed one" id="sq-20"/><td class="board square unrevealed" id="sq-21"/><td class="board square unrevealed" id="sq-22"/><td class="board square unrevealed" id="sq-23"/><td class="board square unrevealed one" id="sq-24"/><td class="board square unrevealed mine" id="sq-25"/><td class="board square unrevealed one" id="sq-26"/></tr>
  <tr> <td class="board square unrevealed one" id="sq-27"/><td class="board square unrevealed one" id="sq-28"/><td class="board square unrevealed" id="sq-29"/><td class="board square unrevealed" id="sq-30"/><td class="board square unrevealed" id="sq-31"/><td class="board square unrevealed" id="sq-32"/><td class="board square unrevealed one" id="sq-33"/><td class="board square unrevealed one" id="sq-34"/><td class="board square unrevealed one" id="sq-35"/></tr>
  <tr> <td class="board square unrevealed mine" id="sq-36"/><td class="board square unrevealed one" id="sq-37"/><td class="board square unrevealed" id="sq-38"/><td class="board square unrevealed" id="sq-39"/><td class="board square unrevealed" id="sq-40"/><td class="board square unrevealed" id="sq-41"/><td class="board square unrevealed" id="sq-42"/><td class="board square unrevealed" id="sq-43"/><td class="board square unrevealed" id="sq-44"/></tr>
  <tr> <td class="board square unrevealed one" id="sq-45"/><td class="board square unrevealed two" id="sq-46"/><td class="board square unrevealed one" id="sq-47"/><td class="board square unrevealed one" id="sq-48"/><td class="board square unrevealed" id="sq-49"/><td class="board square unrevealed" id="sq-50"/><td class="board square unrevealed" id="sq-51"/><td class="board square unrevealed" id="sq-52"/><td class="board square unrevealed" id="sq-53"/></tr>
  <tr> <td class="board square unrevealed one" id="sq-54"/><td class="board square unrevealed two" id="sq-55"/><td class="board square unrevealed mine" id="sq-56"/><td class="board square unrevealed one" id="sq-57"/><td class="board square unrevealed" id="sq-58"/><td class="board square unrevealed" id="sq-59"/><td class="board square unrevealed one" id="sq-60"/><td class="board square unrevealed one" id="sq-61"/><td class="board square unrevealed one" id="sq-62"/></tr>
  <tr> <td class="board square unrevealed mine" id="sq-63"/><td class="board square unrevealed three" id="sq-64"/><td class="board square unrevealed one" id="sq-65"/><td class="board square unrevealed two" id="sq-66"/><td class="board square unrevealed one" id="sq-67"/><td class="board square unrevealed one" id="sq-68"/><td class="board square unrevealed one" id="sq-69"/><td class="board square unrevealed mine" id="sq-70"/><td class="board square unrevealed one" id="sq-71"/></tr>
  <tr> <td class="board square unrevealed mine" id="sq-72"/><td class="board square unrevealed two" id="sq-73"/><td class="board square unrevealed" id="sq-74"/><td class="board square unrevealed one" id="sq-75"/><td class="board square unrevealed mine" id="sq-76"/><td class="board square unrevealed one" id="sq-77"/><td class="board square unrevealed one" id="sq-78"/><td class="board square unrevealed one" id="sq-79"/><td class="board square unrevealed one" id="sq-80"/></tr>
  </table>
</div>
