.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin: auto;
  max-width: 300px;
  border-width: thick;
  border-style: ridge;
  border-color: #000000;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.square.fullImg {
  padding: 0;
}

.square.fullImg img {
  object-fit: cover;
}

.params {
  color: #1c6ea4;
}
.square {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #c6c6c6;
  border-width: 4px;
  border-color: #ffffff;
}
.square.unrevealed {
  border: 4px outset #ffffff;
}
.board {
  width: auto;
  height: auto;
}
.flagged {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/flag.png")
    no-repeat 50% 50%;
}
.square.revealed {
  border-top: 2px solid #9d9d9d;
  border-left: 2px solid #9d9d9d;
}
.revealed.one {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/one.png")
    no-repeat 50% 50%;
}
.revealed.two {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/two.png")
    no-repeat 50% 50%;
}
.revealed.three {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/three.png")
    no-repeat 50% 50%;
}
.revealed.four {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/four.png")
    no-repeat 50% 50%;
}
.revealed.five {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/five.png")
    no-repeat 50% 50%;
}
.revealed.six {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/six.png")
    no-repeat 50% 50%;
}
.revealed.seven {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/seven.png")
    no-repeat 50% 50%;
}
.revealed.eight {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/eight.png")
    no-repeat 50% 50%;
}
.revealed.mine {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/mine.png")
    no-repeat 50% 50%;
}
.revealed.mine.crossed {
  background: #c6c6c6 url("/static/img/2024-04-12-minesweeper/mine_crossed.png")
    no-repeat 50% 50%;
}
.revealed.first {
  background-color: #ff0000; /* red */
}
#scorepanel {
  background: #c6c6c6;
  display: flex;
  margin: auto;
  width: 300px;
  border-width: thick;
  border-style: ridge ridge none ridge;
  border-color: #000000;
}
#smiley {
  height: 40px;
  margin: 4px auto 4px auto;
}
.happy {
  background: url("/static/img/2024-04-12-minesweeper/happy.png") no-repeat 50%
    50%;
}
.loss {
  background: url("/static/img/2024-04-12-minesweeper/loss.png") no-repeat 50%
    50%;
}
.win {
  background: url("/static/img/2024-04-12-minesweeper/win.png") no-repeat 50%
    50%;
}
.load {
  background: url("/static/img/2024-04-12-minesweeper/one.png") no-repeat 50%
    50%;
}
#timer {
  position: relative;
  height: 46px;
  width: 78px;
  margin-bottom: 0px;
  margin-left: 205px;
  margin-top: -40px;
}
.timer {
  height: inherit;
  width: 26px;
}
#countdown {
  float: left;
  height: auto;
  width: auto;
}
