<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="{{ description | escape }}" />
    <meta
      name="keywords"
      content="Vasundhara Gautam, Vasundhara, computational linguistics, NLP"
    />
    <meta name="author" content="Vasundhara Gautam" />
    <link
      rel="shortcut icon"
      href="{{ '/static/favicon.ico' }}"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@VasundharaNLP" />
    <meta name="twitter:title" content="{{ short_title | escape if short_title else title}} | Vasundhara Gautam" />
    <meta name="twitter:description" content="{{ description | escape }}" />
    <meta name="twitter:image" content="https://vasundharagautam.com/static/img/map.jpg" />
    <meta name="twitter:image:alt" content="Close-up of a colourful geographical map of North America." />
    <title>{{ short_title | escape if short_title else title | escape }} | Vasundhara Gautam</title>
    <link href="{{ "/feed.xml" | url }}" type="application/atom+xml" rel="alternate" title="Vasundhara Gautam's blog feed" />
{% set css %}
  {% include "static/css/bootstrap-subset.css" %}
{% endset %}
<style>{{ css | cssmin | safe }}</style>
{% block additionalcss %}{% endblock %}
  </head>
  <body>
    <header class="jumbotron jumbotron-fluid">
        <title>{{ title | escape }}</title>
    </header>
    <nav class="nav navbar">
      <div class="flex-row">
            <a class="nav-link" href="/"><span>{{ "&#9758;" | safe if page.url == '/' }}Home</span></a>
            <a class="nav-link" href="/work"><span>{{ "&#9758;" | safe if '/work' in page.url }}Work</span></a>
            <a class="nav-link" href="/writing"><span>{{ "&#9758;" | safe if '/writing' in page.url }}Writing</span></a>
            <a class="nav-link" href="/service"><span>{{ "&#9758;" | safe if '/service' in page.url }}Service</span></a>
            <a class="nav-link" href="/recognition"><span>{{ "&#9758;" | safe if '/recognition' in page.url }}Recognition</span></a>
            <a class="nav-link" href="/posts"><span>{{ "&#9758;" | safe if '/posts' in page.url }}Blog</span></a>
      </div>
    </nav>
    <main role="main" class="container">
      <div class="container">
    <hr width="80%"/>
    {% block body %}
      {{ content | safe }}
    {% endblock %}
      </div>
    </main>
    <hr />
    <footer class="text-center text-lg-start">
      <div class="text-center p-3">
        <p>
          <a href="mailto:vasundhara131719@gmail.com">Email</a> |
          <a href="https://github.com/vgautam">GitHub</a> |
          <a href="https://orcid.org/0000-0002-7263-8578">ORCID</a> |
          <a href="https://www.linkedin.com/in/vasundharagautam/">LinkedIn</a> |
          <a href="https://twitter.com/VasundharaNLP">Twitter</a> |
          <a href="{{ "/feed.xml" | url }}">Feed</a>
        </p>
      </div>
    </footer>
  </body>
</html>
