<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="Vagrant Gautam, Vagrant, Vasundhara Gautam, computational linguistics, NLP"
    />
    <link
      rel="shortcut icon"
      href="{{ '/static/favicon.ico' }}"
    />

    <title>{{ short_title | escape if short_title else title | escape }} | Vagrant Gautam</title>
    <meta name="description" content="{{ description | escape }}" />
    <meta name="author" content="Vagrant Gautam" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@DippedRusk" />
    <meta property="og:title" content="{{ short_title | escape if short_title else title}} | Vagrant Gautam" />
    <meta property="og:description" content="{{ description | escape }}" />
    <meta property="og:image" content="https://dippedrusk.com/static/img/map.jpg" />
    <meta property="og:image:alt" content="Close-up of a colourful geographical map of North America." />
    <link href="{{ "/feed.xml" | url }}" type="application/atom+xml" rel="alternate" title="Blog feed" />
{% set css %}
  {% include "static/css/bootstrap-subset.css" %}
{% endset %}
<style>{{ css | cssmin | safe }}</style>
{% block additionalcss %}{% endblock %}
  </head>
  <body>
    <header class="jumbotron jumbotron-fluid">
        <title>{{ title | escape }}</title>
    </header>
    <nav class="nav navbar">
      <div class="flex-row">
            <a class="nav-link" href="/"><span>{{ "&#9758;" | safe if page.url == '/' }}Home</span></a>
            <a class="nav-link" href="/work"><span>{{ "&#9758;" | safe if '/work/' in page.url }}Work</span></a>
            <a class="nav-link" href="/talks"><span>{{ "&#9758;" | safe if '/talks/' in page.url }}Talks</span></a>
            <a class="nav-link" href="/posts"><span>{{ "&#9758;" | safe if '/posts/' in page.url }}Blog</span></a>
      </div>
    </nav>
    <main role="main" class="container">
    <hr width="78%"/>
    {% block body %}
      {{ content | safe }}
    {% endblock %}
    </main>
    <hr width="70%" />
    <footer class="text-center text-lg-start">
      <div class="text-center p-3">
        <p>
          <a href="mailto:&#109;&#101;&#64;&#100;&#105;&#112;&#112;&#101;&#100;&#114;&#117;&#115;&#107;&#46;&#99;&#111;&#109;?subject=change this if you aren't a bot">Email</a> |
          <a href="https://github.com/dippedrusk">GitHub</a> |
          <a href="https://www.semanticscholar.org/author/Vagrant-Gautam/2047602319">Semantic Scholar</a> |
          <a href="https://scholar.google.com/citations?user=BG7ORjIAAAAJ">Google Scholar</a> |
          <a href="{{ "/feed.xml" | url }}">Feed</a>
        </p>
      </div>
    </footer>
  </body>
</html>
