---
permalink: /tags/
layout: layouts/blog
title: All tags
description: List of all tags used on my blog
---

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
