---
short_title: Home
title: Vagrant Gautam
description: Homepage of Vagrant Gautam's website
layout: layouts/layout
---

<div class="row">
  <div class="col col-md-8 mx-auto">
    <p>
      Hi! I'm Vagrant, a computational linguist and birder. I am currently
      a computer science PhD student at Saarland University in
      Germany. Before this I worked for over 2 years in industry as a Speech
      Recognition Engineer at Dialpad in Canada. I have a BSc in Computing
      Science and Linguistics from Simon Fraser University, where I also worked
      at an experimental phonology lab and a discourse processing lab.
    </p>
    <p>My research interests include:</p>
    <ul>
      <li>multilingual and multi-user language and speech processing</li>
      <li>phonetics and phonology</li>
      <li>low-resource settings</li>
    </ul>
    <p>
      I hope to combine these interests in my PhD research and study compact,
      linguistically motivated speaker representations that would be applied at
      decode time to improve speech recognition for speakers of nonstandard
      varieties of spoken languages and/or with disordered speech.
    </p>
    <p>
      My philosophy on science is that it should do good in the world and
      actively include those outside the ivory tower. Science communication is
      an integral part of the science I want to do, which includes engaging the
      public with my work and communicating technical ideas accessibly.
    </p>
    <p>
      You may have known me under a different name previously but I go by Vagrant now, so please use that.
      My pronouns are <a href="https://pronoun.is/xe">xe/xem</a> and
      <a href="https://pronoun.is/they">they/them</a>. My title is Mx (pronounced
      like "mix"). Press the play button to hear my name. If you know the
      <a href="https://en.wikipedia.org/wiki/International_Phonetic_Alphabet"
        >IPA</a
      >, my name is pronounced like
      <span class="ipa-pronunciation"
        >/'ve&#618;.g&#633;&#600;nt.'ga&#650;.t&#652;m/</span
      >.
    </p>
    <section class="player">
      <audio class="custom-audio-player">
        <source
          src="{{ '/static/audio/vagrant_gautam.wav' }}"
          type="audio/wav"
        />
        <track src="{{ '/static/vtt/vagrant_gautam.vtt' }}" kind="captions" srclang="en" label="english_captions">
        <p>
          Your browser doesn't support HTML5 audio. Here is a
          <a href="/static/audio/vagrant_gautam.wav">link to the audio</a>
          instead.
        </p>
      </audio>
      <div class="controls custom-audio-player" align="center">
        <button class="playpause custom-audio-player">Play</button>
      </div>
    </section>
    <br />
  </div>
</div>
{% set js %} {% include "static/js/audio_player.js" %} {% endset %}
<script>{{ js | jsmin | safe }}</script>
