---
short_title: Home
title: Hi, I'm Vagrant!
description: Homepage of Vagrant Gautam's website
layout: layouts/layout
---

<header>
    <h1>{{ title | escape }}</h1>
</header>

<div class="row">
  <div class="col col-md-8 mx-auto">
    <p>
      I'm a computer scientist, linguist and birder. I am currently a computer science PhD candidate at Saarland University in
      Germany, where I work on natural language processing (NLP), i.e., getting computers to do things with human language.
    </p>
    <p>
      My research is about both social and technical aspects of NLP. On the technical side, I study <b>conflicts between parametric knowledge and contextual reasoning</b>, i.e., when knowledge acquired by systems from training data and "embedded" in their parameters (like biases and memorized facts) is in conflict with contextual information. On the social side, I write about gaps and opportunities in how we <b>define and operationalize abstract concepts like 'robustness', 'bias', etc.</b>, as well the societal implications of these gaps. In both types of work, I value interdisciplinarity and methodological pluralism.
    </p>
    <p>
    When I'm not working or thinking about birds, I spend my time on hobbies both conventional (reading almost exclusively non-fiction, listening to metal, writing code or posts for my website) and unique (preserving bugs, etching glass, collecting skull graffiti).
    </p>
    <p>
      You may have known me under a different name but
      <a href="posts/2022-04-30-name/">I go by Vagrant now</a>.
      Please refer to me with <a href="posts/2022-12-03-pronouns/#they%2Fthem">they/them</a> or
      <a href="posts/2022-12-03-pronouns/#xe%2Fxem">xe/xem</a> pronouns, and
      use Mx (pronounced like "mix") if you absolutely must use a title.
      Press the play button to hear my name, or if you know the
      <a href="https://en.wikipedia.org/wiki/International_Phonetic_Alphabet"
        >IPA</a
      >, it is
      <span class="ipa-pronunciation"
        >/'ve&#618;.g&#633;&#600;nt.'ga&#650;.t&#652;m/</span
      >.
    </p>
  </div>
  <div class="col col-md-4 mx-auto">
    <figure>
      <img src="{{ '/static/img/vagrant.jpeg' }}"
           alt="Vagrant, a brown-skinned person with short curly black hair, smiles at the camera. They are wearing all-black clothes, a black leather jacket, and a leather choker with spikes. Their hand holds a mocktail in a wine glass."
           title="Vagrant, a brown-skinned person with short curly black hair, smiles at the camera. They are wearing all-black clothes, a black leather jacket, and a leather choker with spikes. Their hand holds a mocktail in a wine glass."
      />
    </figure>
    <section class="player">
      <audio class="custom-audio-player">
        <source
          src="{{ '/static/audio/vagrant_gautam.wav' }}"
          type="audio/wav"
        />
        <track src="{{ '/static/vtt/vagrant_gautam.vtt' }}" kind="captions" srclang="en" label="english_captions">
        <p>
          Your browser doesn't support HTML5 audio. Here is a
          <a href="/static/audio/vagrant_gautam.wav">link to the audio</a>
          instead.
        </p>
      </audio>
      <div class="controls custom-audio-player" align="center">
        <button class="playpause custom-audio-player">Play</button>
      </div>
    </section>
  </div>
</div>
{% set js %} {% include "static/js/audio_player.js" %} {% endset %}
<script>{{ js | jsmin | safe }}</script>
