---
title: Blog
description: Vasundhara Gautam's blog archive
layout: layouts/layout
---
<style>
@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}
</style>

<p>You can also <a href="{{ "/feed.xml" | url }}">subscribe to my feed</a> with your favourite feed reader.<p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
