{% extends "layout.html" %} {% block short_title %}Writing{% endblock %} {%
block title %}Writing{% endblock %} {% block body %}
<main role="main" class="container">
  <div class="container">
    <section>
      <h2>Papers</h2>
      <ul>
        <li>
          <a href="https://aclanthology.org/2021.sigmorphon-1.16/"
            >Avengers, Ensemble! Benefits of ensembling in grapheme-to-phoneme
            prediction</a
          >
          (2021). Proceedings of the 18th SIGMORPHON Workshop on Computational
          Research in Phonetics, Phonology, and Morphology.
          <strong>Vasundhara Gautam</strong>, Wang Yau Li, Zafarullah Mahmood,
          Fred Mailhot, Shreekantha Nadig, Riqiang Wang, and Nathan Zhang.
        </li>
        <li>
          <a href="https://doi.org/10.1371/journal.pone.0245533"
            >The Gender Gap Tracker: Using Natural Language Processing to
            measure gender bias in media</a
          >
          (2021). PLoS ONE 16(1). Fatemeh Torabi Asr, Mohammad Mazraeh,
          Alexandre Lopes, <strong>Vasundhara Gautam</strong>, Junette Gonzales,
          Prashanth Rao, and Maite Taboada.
        </li>
      </ul>
    </section>
    <section>
      <h2>Technical writing</h2>
      <ul>
        <li>
          <a
            href="https://www.dialpad.com/blog/dialpad-journey-towards-more-inclusive-language/"
            >Everybody Belongs in the Conversation: Dialpad's Journey Towards
            More Inclusive Language</a
          >
          (2021). Dialpad blog post. <strong>Vasundhara Gautam</strong>.
        </li>
        <li>
          <a
            href="http://www.sfu.ca/~mtaboada/docs/research/Constructive_News_Comments_Report.pdf"
            >Constructiveness and Toxicity in Online News Comments</a
          >
          (2019). Technical report. <strong>Vasundhara Gautam</strong> and Maite
          Taboada.
        </li>
      </ul>
    </section>
    <section>
      <h2>News</h2>
      <ul>
        <li>
          <a
            href="https://thetyee.ca/Culture/2019/11/06/Tyee-Commenters-Assessed/"
            >Hey Tyee Commenters! Scholars Studied You. Here’s What They
            Found</a
          >
          (2019). The Tyee. <strong>Vasundhara Gautam</strong> and Maite
          Taboada.
        </li>
      </ul>
    </section>
    <section>
      <h2>Other</h2>
      <ul>
        <li>
          <a
            href="https://issuu.com/vancouverculturemagazines/docs/vanpride_magazine_01-52/40"
            >Gender Repeal</a
          >
          (2021). Vancouver Pride Magazine. Vasundhara Gautam.
        </li>
        <li>
          <a
            href="https://kconrod.medium.com/guest-lecture-in-pronouns-vasundhara-1c61d3023e0c"
            >Guest Lecture in Pronouns: Vasundhara</a
          >
          (2021). Kirby Conrod's Medium blog.
          <strong>Vasundhara Gautam</strong> and Kirby Conrod.
        </li>
      </ul>
    </section>
  </div>
</main>
{% endblock %}
